<%- include('partials/header') %>




<div class="jumbotron centered">
    <div class="container">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="display-3">Secrets</h1>
        <p class="lead">Dont keep your secrets</p>
        <hr>
        <a href="/register" class="btn btn-light btn-lg">Register</a>
        <a href="/login" class="btn btn-light btn-lg">Login</a>
    </div>
</div>


<%- include('partials/footer') %>
