<%- include('partials/header') %>


  <div class="container mt-5">
    <h1>Login</h1>
    <% if(Registered===true ){%>
      <p style="color:green">This email has already been registered</p>
      <%}%>

        <%if(Registered==="invalid" ){%>

          <p style="color:red">Invalid credientials..Please try again</p>
          <% }%>

            <div class="row">
              <div class="col-sm-8">
                <div class="card">
                  <div class="card-body">



                    <!-- MAKE POST REQUEST TO /login route -->

                    <form action="/login" method="POST">
                      <div class="form-group">
                        <label for="username">Email</label>
                        <input type="email" name="username" class="form-control">
                      </div>

                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control">
                      </div>
                      <button type="submit" class="btn btn-dark">Login</button>
                    </form>
                  </div>
                  <a href="/register" class="btn btn-light btn-lg">Register</a>

                </div>
              </div>



              <!-- <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <a class="btn btn-block" href="/auth/google" role="button">
                      <i class="fab fa-google"></i>
                      Sign In with Google
                    </a>
                  </div>
                </div>
              </div> -->

            </div>
  </div>

  <%- include('partials/footer') %>